#s-0d9062e1-4c86-4813-b947-02bf8894e457 > #backgroundBox {
  background-color: #0D0D0D;
  position: absolute;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 > #alignmentBox {
  position: relative;
  max-width: 412.0px;
  max-height: 778.0px;
  width: 100%;
  height: 100%;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_3 {
  width: 377.00000000000045px;
  height: 606.0000000000003px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_3 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_3 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_5 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_5 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_5 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_5 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_8 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_8 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_8 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_8 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_7 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_7 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_7 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_7 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_2 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_2 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_1 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_1 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_4 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_4 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_6 {
  position: absolute;
  width: 182.0px;
  height: 266.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_6 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_1 {
  width: 412.00000000000057px;
  height: 80.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Table_1 {
  position: absolute;
  width: 100.0%;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #262626;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_6 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Hotspot_1 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_45 {
  position: absolute;
  width: 45.709598541259766px;
  height: 40.000003814697266px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_7 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Hotspot_2 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_114 {
  position: absolute;
  width: 4.7631988525390625px;
  height: 4.7631988525390625px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_115 {
  position: absolute;
  width: 17.609294891357422px;
  height: 39.99992370605469px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_116 {
  position: absolute;
  width: 17.60931396484375px;
  height: 40.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_8 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Hotspot_3 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_52 {
  position: absolute;
  width: 34.99827194213867px;
  height: 40.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_9 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Hotspot_5 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_59 {
  position: absolute;
  width: 30.0px;
  height: 40.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Cell_10 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Hotspot_4 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_66 {
  position: absolute;
  width: 46.774105072021484px;
  height: 40.00000762939453px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_2 {
  width: 412.0000000000004px;
  height: 84.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #262626;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Path_81 {
  position: absolute;
  width: 39.82191467285156px;
  height: 40.0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Paragraph_1 {
  position: absolute;
  width: 147.04687499999977px;
  min-height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
.devMobile #jim-container .ui-page {
  overflow: hidden;
}
.non_jim_mobile #simulation {
  overflow: hidden;
}
.web #simulation {
  overflow: hidden;
}
#s-0d9062e1-4c86-4813-b947-02bf8894e457 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}