#s-44b12c26-7b72-4358-a936-5cf7b988d540 > #backgroundBox {
  background-color: #0D0D0D;
  position: absolute;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 > #alignmentBox {
  position: relative;
  max-width: 412.0px;
  max-height: 778.0px;
  width: 100%;
  height: 100%;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_3 {
  width: 412.00000000000057px;
  height: 80.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Table_2 {
  position: absolute;
  width: 100.0%;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Table_2 > .backgroundLayer > .colorLayer {
  background-color: #262626;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_11 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Hotspot_6 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_7 {
  position: absolute;
  width: 45.709598541259766px;
  height: 40.000003814697266px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_12 .verticalalign {
  vertical-align: middle;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_12 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Hotspot_7 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_8 {
  position: absolute;
  width: 4.7631988525390625px;
  height: 4.7631988525390625px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_9 {
  position: absolute;
  width: 17.609294891357422px;
  height: 39.99992370605469px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_10 {
  position: absolute;
  width: 17.60931396484375px;
  height: 40.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_13 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_13 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_13 .verticalalign {
  vertical-align: middle;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_13 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_13 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Hotspot_8 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_13 {
  position: absolute;
  width: 34.99827194213867px;
  height: 40.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_14 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_14 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_14 .verticalalign {
  vertical-align: middle;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_14 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_14 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Hotspot_9 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_14 {
  position: absolute;
  width: 30.0px;
  height: 40.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_15 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_15 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_15 .verticalalign {
  vertical-align: middle;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_15 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Cell_15 {
  width: 20.0%;
  height: 99.99999999999997%;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Hotspot_10 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_15 {
  position: absolute;
  width: 46.774105072021484px;
  height: 40.00000762939453px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_2 {
  width: 412.0000000000004px;
  height: 84.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #262626;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_81 {
  position: absolute;
  width: 39.82191467285156px;
  height: 40.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 {
  position: absolute;
  width: 329.0px;
  height: 64.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_31 {
  position: absolute;
  width: 29.994142532348633px;
  height: 30.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_38 {
  position: absolute;
  width: 30.005413055419922px;
  height: 39.99999237060547px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_11 {
  position: absolute;
  width: 45.71428680419922px;
  height: 40.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Image_1 {
  position: absolute;
  width: 412.000000000001px;
  height: 231.8820512820518px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_12 {
  position: absolute;
  width: 48.0px;
  height: 19.7810001373291px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_19 {
  position: absolute;
  width: 40.00102233886719px;
  height: 32.001197814941406px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_1 {
  position: absolute;
  width: 36.0px;
  height: 36.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_2 {
  position: absolute;
  width: 24.205331802368164px;
  height: 8.940919876098633px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_3 {
  position: absolute;
  width: 24.553482055664062px;
  height: 7.685068130493164px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_4 {
  position: absolute;
  width: 23.998870849609375px;
  height: 5.637001037597656px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_5 {
  position: absolute;
  width: 36.0px;
  height: 36.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_6 {
  position: absolute;
  width: 25.85137367248535px;
  height: 10.000316619873047px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_22 {
  position: absolute;
  width: 36.019012451171875px;
  height: 36.019004821777344px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_23 {
  position: absolute;
  width: 36.019012451171875px;
  height: 36.019004821777344px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_25 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_26 {
  position: absolute;
  width: 3.0000381469726562px;
  height: 3.013443946838379px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_27 {
  position: absolute;
  width: 26.0px;
  height: 26.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_33 {
  position: absolute;
  width: 36.0px;
  height: 36.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_34 {
  position: absolute;
  width: 18.31199836730957px;
  height: 23.430997848510742px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_35 {
  position: absolute;
  width: 19.25px;
  height: 22.45600128173828px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_36 {
  position: absolute;
  width: 20.42599868774414px;
  height: 22.178998947143555px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_28 {
  position: absolute;
  width: 36.0px;
  height: 36.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_29 {
  position: absolute;
  width: 20.42799949645996px;
  height: 20.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_30 {
  position: absolute;
  width: 9.246000289916992px;
  height: 9.593000411987305px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_32 {
  position: absolute;
  width: 8.68600082397461px;
  height: 9.010000228881836px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_1 {
  position: absolute;
  width: 390.00900268554676px;
  min-height: 157.68431635388737px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_2 {
  position: absolute;
  width: 395.0090026855469px;
  min-height: 136.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 {
  position: absolute;
  width: 412.0000000000001px;
  min-height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_37 {
  position: absolute;
  width: 16.5px;
  height: 22.0px;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 #s-Path_39 {
  position: absolute;
  width: 23.387052536010742px;
  height: 19.999996185302734px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-44b12c26-7b72-4358-a936-5cf7b988d540 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}